<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#product">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>
<div>
    <div class="container">
      <div class="row">
        <div class="col-8" id="product">
          <app-product-list>

          </app-product-list>
        </div><!--siempre son 12 columnas, aca usa 8 y 4, en la misma caja-->
        <div class="col-4">BOX</div>
      </div>
    </div>
</div>
<div>
  <div class="container">
    <div class="row">
      <div class="6">
        <!--<app-about>
          about
          hacer componente de about
        </app-about>
        -->
      </div>
      <div class="6"></div>
    </div>
  </div>
</div>
<footer>
  CopyRight@2020 - {{title}}
</footer>