<h1>Lista de productos</h1>
<div>
    <table class="table table-responsive text-center"><!--text-center alinea los textos de la tabla en este caso, es bootstrap-->
        <thead class="thead-dark">
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Type</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Cant</th>
                <th>Buy</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products" [ngClass]="{'clearance': product.clearance}">
                <td><img width="100" class="img-thumbnail" [src]="product.image" [alt]="product.name"/></td> <!-- O puede ser src="{{product.image}}" alt="[[product.name]]"--> 
                <td>{{product.name}}</td>
                <td>{{product.type}}</td>
                <td>{{product.price | currency}}</td>
                <td><span *ngIf="product.stock==0" class="badge badge-danger">Sin Stock!</span><span *ngIf="product.stock!=0" class="badge badge-pill badge-success">Con Stock!</span></td>
                <td><app-input-number (maxReached)="maxReached($event)" [(quantity)]="product.quantity" [max]="product.stock" *ngIf="product.stock"></app-input-number></td>
                <td><button class="btn btn-dark"  *ngIf="product.stock!=0" (click)="addToCart(product)">AddCart</button></td>
            </tr>
        </tbody>
    </table> 
</div>
<!--
<div>
    <div class="Products">
        <div class="card myCard" style="width: 18rem;">
            <img [src]="product[0].image" [alt]="product.name"/>
            <div class="card-body">
            <h5 class="card-title">{{product[0].name}}</h5>
            <h5 class="card-title">{{product[0].type}}</h5>
            <h5 class="card-title">{{product[0].price}}</h5>
            <h5 class="card-title">{{product[0].stock}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
            <div class="card" style="width: 18rem;">
                <img [src]="product[1].image" [alt]="product.name"/>
                <div class="card-body">
                    <h5 class="card-title">{{product[1].name}}</h5>
                    <h5 class="card-title">{{product[1].type}}</h5>
                    <h5 class="card-title">{{product[1].price}}</h5>
                    <h5 class="card-title">{{product[1].stock}}</h5>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="Products">
        <div class="card myCard" style="width: 18rem;">
            <img [src]="product[2].image" [alt]="product.name"/>
            <div class="card-body">
                <h5 class="card-title">{{product[2].name}}</h5>
                <h5 class="card-title">{{product[2].type}}</h5>
                <h5 class="card-title">{{product[2].price}}</h5>
                <h5 class="card-title">{{product[2].stock}}</h5>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
            <div class="card" style="width: 18rem;">
                <img [src]="product.image" [alt]="product.name"/>
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <h5 class="card-title">{{product.type}}</h5>
                    <h5 class="card-title">{{product.price}}</h5>
                    <h5 class="card-title">{{product.stock}}</h5>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="Products">
        <div class="card myCard" style="width: 18rem;">
            <img [src]="product.image" [alt]="product.name"/>
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <h5 class="card-title">{{product.type}}</h5>
                <h5 class="card-title">{{product.price}}</h5>
                <h5 class="card-title">{{product.stock}}</h5>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
            <div class="card" style="width: 18rem;">
                <img [src]="product.image" [alt]="product.name"/>
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <h5 class="card-title">{{product.type}}</h5>
                    <h5 class="card-title">{{product.price}}</h5>
                    <h5 class="card-title">{{product.stock}}</h5>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>

-->



